<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Bienvenido al quiz de <%= autor %></p>
<p><a href="/quizzes">quizzes</a></p>        //hipervículo de quizzes
<p><a href="/credits">créditos</a></p>       //hipervículo de credits
</body>
</html>